body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: papayawhip;
    color: rgb(0, 0, 0);
}

p {
    color: #a0989bf9;
    /* font-size: 2em; */
    width: 40ch;
}

.b {
    border: 2px double red;
    font-size: 1.5rem;
    margin: 1.5rem;
    /* border-top: 5px solid green; */
    /* border-right: 10px dotted yellow; */
    /* width: 50%; */
    /* font-size: 3rem; */
    padding: 1.5em;
    outline: 5px solid purple;
    outline-offset: -20px;
}

.zoheb{
    border: 2px dashed red;
    width: 50%;
    font-size: 0.5em;
    padding: 1.5em;
}

.cricle{
    background-color: gold;
    width:100px;
    height:100px;
    border: 2px solid black;
    outline:2px solid red;
    outline-offset:0.25r  em;
    border-radius: 23px;
}

